################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.env
/WebService/WebService/Properties/launchSettings.json
/Converter-Microservice/Converter-Microservice/Properties/launchSettings.json
/Logger-Microservice/Logger-Microservice/Properties/launchSettings.json
/Notification-Microservice/Notification-Microservice/Properties/launchSettings.json
/Initilization-Microservice/Initilization-Microservice/Properties/launchSettings.json
